<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                 <!-- <li<%= sidebar_current("docs-home") %>>
                     <a href="/docs/providers/index.html">All Providers</a>
                 </li> -->

                <li<%= sidebar_current("docs-upcloud-index") %>>
                    <a href="/docs/providers/upcloud/index.html">UpCloud Provider</a>
                </li>

                <li<%= sidebar_current("docs-upcloud-datasource") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-upcloud-datasource-hosts") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_hosts.html">upcloud_hosts</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-datasource-ip-addresses") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_ip_addresses.html">upcloud_ip_addresses</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-datasource-networks") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_networks.html">upcloud_networks</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-datasource-tags") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_tags.html">upcloud_tags</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-datasource-zone") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_zone.html">upcloud_zone</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-datasource-zones") %>>
                            <a href="/docs/providers/upcloud/d/upcloud_zones.html">upcloud_zones</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-upcloud-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-upcloud-resource-firewall-rules") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_firewall_rules.html">upcloud_firewall_rules</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-floating-ip-address") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_floating_ip_address.html">upcloud_floating_ip_address</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-network") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_network.html">upcloud_network</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-router") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_router.html">upcloud_router</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-server") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_server.html">upcloud_server</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-storage") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_storage.html">upcloud_storage</a>
                        </li>
                        <li<%= sidebar_current("docs-upcloud-resource-tag") %>>
                            <a href="/docs/providers/upcloud/r/upcloud_tag.html">upcloud_tag</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>